[submodule "source/3rdparty/glm"]
	path = source/3rdparty/glm
	url = https://github.com/g-truc/glm
[submodule "source/3rdparty/bullet3"]
	path = source/3rdparty/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "source/3rdparty/rapidjson"]
	path = source/3rdparty/rapidjson
	url = https://github.com/miloyip/rapidjson
[submodule "source/3rdparty/crossguid"]
	path = source/3rdparty/crossguid
	url = https://github.com/graeme-hill/crossguid
[submodule "source/3rdparty/assimp"]
	path = source/3rdparty/assimp
	url = https://github.com/assimp/assimp
[submodule "source/3rdparty/astc-encoder"]
	path = source/3rdparty/astc-encoder
	url = https://github.com/ARM-software/astc-encoder
[submodule "source/3rdparty/ETCPACK"]
	path = source/3rdparty/ETCPACK
	url = https://github.com/Ericsson/ETCPACK
[submodule "source/3rdparty/winflexbison"]
	path = source/3rdparty/winflexbison
	url = https://github.com/lexxmark/winflexbison
[submodule "source/3rdparty/COLLADA2GLTF"]
	path = source/3rdparty/COLLADA2GLTF
	url = https://github.com/KhronosGroup/COLLADA2GLTF.git
[submodule "source/3rdparty/ogg"]
	path = source/3rdparty/ogg
	url = git@github.com:xiph/ogg.git
[submodule "source/3rdparty/vorbis"]
	path = source/3rdparty/vorbis
	url = git@github.com:xiph/vorbis.git
[submodule "source/3rdparty/theora"]
	path = source/3rdparty/theora
	url = git@github.com:xiph/theora.git
[submodule "source/3rdparty/portaudio"]
	path = source/3rdparty/portaudio
	url = https://git.assembla.com/portaudio.git
[submodule "source/3rdparty/libsndfile"]
	path = source/3rdparty/libsndfile
	url = git@github.com:erikd/libsndfile.git
